
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700,800,900'); 

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~buefy/dist/buefy.css';

* {
  font-family: $font-family-sans-serif;
  color: $company-colour2;
}

a {
  text-decoration: none!important;
}

header {
  .navbar {
    box-shadow: 1px -5px 16px #212529;
    .logo {
      display: flex;
      label {    
        font-weight: 900;
        font-size: 26px;
        padding: .2rem 1.5rem;
        &:nth-child(1) {
          background: $company-colour;
        }
        &:nth-child(2) {
          background: $company-colour2;
          color: white;
        }
      }
    }
  }   
}

section {
  padding-top: 71.32px!important;
}

@import 'home.scss';
@import 'detailFeed.scss';
