section.detailFeed {
    h1 {
        font-weight: bold;
        border-bottom: 6px solid;
    }
    .card {
        .card-content {
            .content {
                text-align: justify;
                padding: 10px;
            }
        }
    }        
}